body{
   background-color: #0026ff !important ;
}
.container{
    background-color: #0026ff !important ;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.question-footer{
    display: flex;
    justify-content: space-between;
    border-top:1px solid rgba(0, 0, 0, 0.4) ;
    align-items: center;
    padding-top:20px ;
}
.quiz-card{
     width: 30rem;
}

.quiz_answer_card:hover{
    cursor: pointer;
    background-color: #d0d6db6a;
}
.bg-success, .bg-danger {
    color: white !important ;
}

.text-center{
    text-align: center;
}